<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="nopCommerce Ordered Suite (No API)" verbose="1" parallel="tests" thread-count="3">
    <test name="UI">
        <packages>
            <package name="com.nopc.automation.tests.*"/>
        </packages>
    </test>
</suite>